/* inter font */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Proxima Nova font */
@font-face {
  font-family: "Proxima Nova";
  src: url("../assets/fonts/AnyConv.com__proximanova_light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../assets/fonts/AnyConv.com__proximanova_regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../assets/fonts/AnyConv.com__proximanova_bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../assets/fonts/AnyConv.com__proximanova_boldit.woff")
    format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../assets/fonts/AnyConv.com__proximanova_black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../assets/fonts/AnyConv.com__proximanova_blackit.woff")
    format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../assets/fonts/AnyConv.com__proximanova_extrabold.woff")
    format("woff");
  font-weight: 800;
  font-style: normal;
}
